
.DS_Store
Box1/.ipynb_checkpoints/*
Figure2/.ipynb_checkpoints/*
extras/plots/*
*checkpoints*
Box1/plots/*
__pycache__/helper_functions.cpython-38.pyc
Figure3/tmp.nc
Figure6/tmp.*
Box1/optimization.pdf
Box1/plume_generation_zone.pdf
Box1/slab_fitting.pdf
Box1/GAPWAP.pdf
Figure2/ReconstructionBasisDataContinents.pdf
Figure2/ReconstructionBasisDataOceans.pdf
Figure3/Figure3.eps
Figure3/Figure3.pdf
Figure3/tomotectonics.pdf
Figure3/plate_tectonics.pdf
Figure5/AndesTimeLatitudePlot.pdf
Figure6/Figure6.pdf
Figure3/tomotectonics_alt.jpg
Figure3/tomotectonics_alt.pdf
Figure3/Figure3_alt.pdf
Box1/sequences/*
Figure3/sequence/*
extras/sequence/*
extras/__temp__.mp4
__pycache__/animators.cpython-38.pyc
Figure3/deforming_plates.pdf
Figure3/Figure3.png
extras/test.mp4
Box1/slab_fitting.png
extras/tmp.geojson
extras/tmp.gmt
extras/tmp.gmt.gplates.xml
extras/tmp.nc
